<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Previsão do tempo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>previsão em: </ion-card-subtitle>
      <ion-card-title class="ion-text-end"> Lençóis Paulista-SP</ion-card-title>
    </ion-card-header>

    <ion-card-content>

<ion-item lines="none">
  <ion-label>
    Item
  </ion-label>
  <ion-icon name="partly-sunny-outline"></ion-icon>
</ion-item>
    </ion-card-content>
  </ion-card>


</ion-content>
